.TodoTemplate {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 7px;
  overflow: hidden;
}

.app-title {
  background-color: #2376ad;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: white;
}