.TodoListItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  &:nth-child(even) {
    background-color: #dadada;
  }

  .checkbox {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;

    svg {
      font-size: 1.5rem;
    }

    .text {
      font-size: 1.5rem;
    }

    &.checked {
      svh {
        color: #22b8cf;
      }

      .text {
        color: #888888;
        margin-left: 0.5rem;
        text-decoration: line-through;
      }
    }
  }

  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
    &:hover {
      color: #fa8888;
    }
  }

  & + & {
    border-top: 1px solid #dad5d5;
  }
}
