.TodoInsert {
  display: flex;
  background-color: white;

  input {
    background-color: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    flex: 1;
  }

  button {
    background-color: #1d3053;
    outline: none;
    border: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s background ease-in;

    &:hober {
      background-color: #2c3e61;
    }
  }
}
