$red: #fa5252;
$orange: #ff8200;
$yellow: #ffd732;
$peach: #ff9e9b;
$skyblue: #73e1e1;
$green: #54bd54;
$blue: #2828cd;

@mixin square($size) {
  $calculated: 30px * $size;
  width: $calculated;
  height: $calculated;
}

.Sass_ex {
  display: flex;

  .box {
    cursor: pointer;

    &.red {
      background-color: $red;
      @include square(1);
    }
    &.orange {
      background-color: $orange;
      @include square(2);
    }
    &.yellow {
      background-color: $yellow;
      @include square(3);
    }
    &.peach {
      background-color: $peach;
      @include square(4);
    }
    &.skyblue {
      background-color: $skyblue;
      @include square(5);
    }
    &.green {
      background-color: $green;
      @include square(6);
    }
    &.blue {
      background-color: $blue;
      @include square(7);
    }

    &:hover {
      background-color: black;
    }
  }
}
